# Virtual environments
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/